---
kind: Shoot
apiVersion: core.gardener.cloud/v1beta1
metadata:
  namespace: garden-{{ inner_project_name }}
  name: {{ inner_name }}
spec:
  provider:
    type: openstack
    infrastructureConfig:
      apiVersion: openstack.provider.extensions.gardener.cloud/v1alpha1
      kind: InfrastructureConfig
      networks:
        workers: 10.250.0.0/16
      floatingPoolName: public
    controlPlaneConfig:
      apiVersion: openstack.provider.extensions.gardener.cloud/v1alpha1
      kind: ControlPlaneConfig
      loadBalancerProvider: amphora
    workers:
      - cri:
          name: containerd
        machine:
          type: SCS-2V-4
          image:
            name: gardenlinux
            version: "{{ inner_gardenlinux_version }}"
          architecture: amd64
        volume:
          type: ssd
          size: 50Gi
        zones:
          - nova
        name: worker-hktkk
        minimum: 2
        maximum: 3
        maxSurge: 1
  networking:
    nodes: 10.250.0.0/16
    type: {{ inner_networking_type }}
  cloudProfileName: regiocloud
  secretBindingName: default-openstack-secret
  region: RegionA
  purpose: production
  kubernetes:
    version: "{{ inner_kubernetes_version }}"
    enableStaticTokenKubeconfig: false
  addons:
    kubernetesDashboard:
      enabled: false
    nginxIngress:
      enabled: false
  maintenance:
    timeWindow:
      begin: 090000+0100
      end: 100000+0100
    autoUpdate:
      kubernetesVersion: true
      machineImageVersion: true
  hibernation:
    schedules: []
